@import "variables/screens";
@import "variables/gradients";
@import "variables/colors";
@import "variables/fonts";

@media screen and (max-width: $mobile-screen) {
  .hidden {
    display: none;
  }

  header {
    background: $header-gradient;
    border-bottom-left-radius: 100px;
    overflow: hidden;
  }
  .header-container {
    background-image: url("../images/bg-pattern-intro.svg");
    background-size: 350%;
    background-position-x: -400px;
    background-position-y: -150px;
    color: $neutral-white;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100%;
    padding-bottom: 20%;
  }
  nav {
    z-index: 2;
    display: flex;
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: space-between;
    align-items: center;

    .burger-menu {
      width: 40px;
      height: 25px;
    }
  }
  .menu {
    background-color: $neutral-white;
    padding-top: 7%;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: absolute;
    top: 100px;
    right: 5%;
    width: 90%;
    z-index: 4;
    border-radius: 5px;
    padding-bottom: 10%;
    color: $very-dark-blue;
    font-family: $ubuntu;
    box-shadow: 2px 5px 5px #bebebe;
    hr {
      margin-top: 20px;
      margin-bottom: 20px;
      width: 90%;
      height: 1px;
      color: #f0efef;
      border-bottom: 0px;
    }
    button {
      margin-bottom: 20px;
    }
    .signup-btn {
      background: linear-gradient(
        to right,
        hsl(13, 100%, 72%),
        hsl(353, 100%, 62%)
      );
      color: $neutral-white;
    }
    .login-btn {
    }
    .items {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      .title {
        display: flex;
        align-items: center;
        padding-bottom: 4%;
        h3 {
          font-size: 1.1rem;
          font-weight: 500;
        }
        img {
          width: 12px;
          height: 8px;
          margin-left: 10px;
        }
      }
      .content {
        background-color: #ebebeb;
        width: 90%;
        border-radius: 5px;
        padding: 3%;
        color: $very-dark-blue;
        font-weight: 500;
      }
      li {
        list-style: none;
        margin: 5px 0;
      }
    }
  }
  .introduction {
    padding-top: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }
  .description {
    padding: 0% 10%;
  }
  .buttons {
    display: flex;
    margin-top: 50px;
  }
  button {
    font-family: $ubuntu;
    font-weight: 600;
    height: 50px;
    width: 150px;
    border: 1px solid $neutral-white;
    border-radius: 25px;
  }
  header {
    button {
      padding: 10px;
      margin: 20px 10px;
    }
    h1 {
      text-align: center;
      font-size: 2.1rem;
      line-height: 3rem;
      font-weight: 600;
      font-family: $overpass;
    }
    p {
      text-align: center;
      font-size: 1.2rem;
      font-family: $ubuntu;
      margin-top: 20px;
    }
    .start-btn {
      background-color: $neutral-white;
      color: $light-red;
    }
    .more-btn {
      background: transparent;
      color: $neutral-white;
    }
  }

  .content {
    padding: 30% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2 {
      font-family: $overpass;
      font-size: 1.7rem;
      text-align: center;
      color: $very-dark-blue;
      padding: 15px 20px;
    }
    p {
      text-align: center;
      font-family: $overpass;
      font-size: 1rem;
      line-height: 25px;
      padding-top: 25px;
      padding-bottom: 25px;
      color: $very-dark-blue;
    }
    .editor-mobile {
      width: 100%;
      margin: 15px 0;
    }

    .state-art {
      position: relative;
      top: -150px;
      overflow: hidden;
      border-top-right-radius: 100px;
      border-bottom-left-radius: 100px;
      background: $body-gradient;
    }
    .phones {
      position: relative;
      width: 100%;
      left: 0px;
      top: 50px;
      z-index: 2;
    }
    .state-art-container {
      width: 100vw;
      height: 100%;
      padding: 0 25px 0 25px;
      text-align: center;
      background-image: url("../images/bg-pattern-circles.svg");
      background-size: 160%;
      background-position-y: -250px;
      background-position-x: -100px;
      background-repeat: no-repeat;
      h2 {
        color: $neutral-white;
        font-size: 2.5rem;
        text-align: center;
        padding-top: 200px;
      }
      p {
        color: hsl(0, 0%, 100%);
        font-size: 1rem;
        font-weight: 100;
        font-family: $overpass;
        line-height: 30px;
        text-align: center;
        padding-bottom: 100px;
      }
    }
  }
  #application {
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 375px;
    overflow: hidden;
    img {
      width: 130%;
    }
  }

  footer {
    background-color: $very-dark-black-blue;
    color: $neutral-white;
    font-family: $ubuntu;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 25px;
    border-top-right-radius: 100px;
    img {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    h3 {
      font-size: 1.2rem;
      padding: 25px 0;
      font-weight: 600;
    }
    ul {
      list-style: none;
      margin-bottom: 25px;
    }
    li {
      margin-bottom: 15px;
      font-size: 1.1rem;
    }
  }
}
