@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

/* VARIABLES */
:root {
  /* Primary */
  --light-red: hsl(356, 100%, 66%);
  --very-light-red: hsl(356, 100%, 66%);
  --very-dark-blue: hsl(208, 49%, 24%);
  /* Neutral */
  --neutral-white: hsl(0, 0%, 100%);
  --grayish-blue: hsl(240, 2%, 79%);
  --very-dark-grayish-blue: hsl(207, 13%, 34%);
  --very-dark-black-blue: hsl(240, 10%, 16%);
}

@media screen and (max-width: 375px) {

  header {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    color: var(--neutral-white);
    background: linear-gradient(to bottom,hsl(13, 100%, 72%) ,  hsl(353, 100%, 62%));
    border-bottom-left-radius: 100px;
    position : relative;
    overflow: hidden;
    z-index: 0;
  }

  header .background-pattern {
    position : absolute;
    top: -200px;
    left: -400px;
    width: 400%;
    z-index: 1;
  }
  nav {
    z-index: 2;
  }

  nav .container {
    display: flex;
    padding : 15% 5%;
    justify-content: space-between;
    align-items: center;
  }

  nav .brand {
    font-family: "Ubuntu", sans-serif;
    font-size: 2rem;
  }

  nav .burger-menu {
    width : 40px;
    height: 25px;
  }

  .introduction {
    padding-top: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2
  }
  .introduction div:nth-child(1){
    padding: 0% 10%;
  }
  .introduction div:nth-child(2) {
    display: flex;
    margin-top: 50px;
  }
  header button {
   font-family: "Ubuntu", sans-serif; 
   font-weight: 600;
   height: 50px;
   width: 150px;
   padding:10px 10px;
   margin:20px 10px;
   border: 1px solid var(--neutral-white);
   border-radius: 25px;
  }
  header h1 {
    text-align: center;
    font-size: 2.1rem;
    line-height: 3rem;
    font-weight: 600;
    font-family: "Overpass", sans-serif;
  }
  header p {
    text-align: center;
    font-size: 1.2rem;
    font-family: "Ubuntu", sans-serif;
    margin-top: 20px;
  }

  header .start-btn{
    background-color: var(--neutral-white);
    color: var(--light-red);
  }
  header .more-btn{
    background: transparent ;
    color: var(--neutral-white);
  }
  
}
@media screen and (max-width: 1440px) {
}
