@mixin display-flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin add-background-image($gradient, $url, $size, $position-x, $position-y) {
  background-image: url($url), $gradient;
  background-size: $size;
  background-position-x: $position-x;
  background-position-y: $position-y;
}
